  <!-- <nav class="navbar navbar-expand-sm navbar-light sticky-top "> -->
  <nav class="navbar navbar-expand-sm navbar-light bg-light py-4" >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#toggleMobileMenu"
      aria-controls="toggleMobileMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse move-nav" id="toggleMobileMenu">
      <ul class="navbar-nav text-center ml-auto">
        <li>
          <a class="nav-link" href="/"><b>$PENDLE</b></a>
        </li>

        <li>
          <a class="nav-link" href="/create-budget">CREATE BUDGET</a>
        </li>

        <li>
          <a class="nav-link" href="/create-expense">CREATE EXPENSE</a>
        </li>
        <li>
          <a class="nav-link" href="/login">LOG IN</a>
        </li>
        <li>
          <a class="nav-link" href="/signup">SIGN UP</a>
        </li>
        <li>
          <a class="nav-link" href="/logout">LOG OUT</a>
        </li>
      </ul>      
      </ul>
    </div>
  </nav>
