<h3>Your family account has been created.</h3>
<br />
<br />
<h2>
  To add users to your family, get them to sign up using this link: <br /><br />
</h2>
<a href="<%= link %> "><p><%= link %></p></a>
<br />
<br />

<a href="/login">Click here to login.</a>
