<h2>Your family account has been created.</h2>
<br />
<br />
<h2>
  To add users to your family, get them to sign up using this link: <br /><br />
  <a href="<%= link %> "> <%= link %> </a>
</h2>
<br />
<br />

<a href="/create-budget">Click here to create a budget.</a>
