<h2><b>CREATE BUDGET</b></h2>

<form
  class="row g-3 needs-validation"
  action="/create-budget"
  method="POST"
  novalidate
>
  <!--  BUDGET CATEGORY -->
  <div class="form-group">
    <label for="name" class="form-label">Budget Name</label>
    <input
      type="text"
      class="form-control w-75"
      id="name"
      name="name"
      placeholder="Stuff"
      required
    />
    <div class="invalid-feedback">Type something!</div>
    <div class="valid-feedback">Amazing!</div>
  </div>

  <!-- BUDGET AMOUNT -->
  <div class="form-group">
    <label for="budget_amount" class="form-label">Budget Amount</label>
    <input
      type="number"
      class="form-control w-75"
      id="budget_amount"
      name="budget_amount"
      placeholder="$694.20"
      required
    />
    <div class="invalid-feedback">Type something!</div>
    <div class="valid-feedback">Amazing!</div>
  </div>

  <!-- START DATE -->
  <div class="form-group">
    <label for="date" class="form-label">Start Date</label>
    <input
      class="form-control w-75"
      type="date"
      name="start_date"
      id="date"
      min="2015/01/01"
      placeholder="mm/dd/yyyy"
      required
    />
    <div class="invalid-feedback">Please enter a start date</div>
    <div class="valid-feedback">Remarkable!</div>
  </div>

  <!-- REPEATS MONTHLY? -->
  <div class="form-group">
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        id="flexSwitchCheckDefault"
        name="repeats_monthly"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault"
        >Does this budget repeat monthly?</label
      >
    </div>
  </div>

  <!-- submit button  -->
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>
