<div class="row">
  <a
    href="/signup/new-family"
    class="btn btn-outline-primary btn-xl text-center"
    >Create New Family Account</a
  >
</div>

<small>
  Link to an existing family? Use the link provided by your parent user.
</small>
