<!-- <div class="row">
  <div class="col-6">
    <button type="button" class="btn btn-primary btn-lg">
      Create New Family Account
    </button>
  </div>
  <div class="col-6">
    <button type="button" class="btn btn-warning btn-lg">
      Link to Existing Family
    </button>
  </div>
</div> -->
<div class="row">
  <a
    href="/signup/new-family"
    class="btn btn-outline-primary btn-xl text-center"
    >Create New Family Account</a
  >
</div>
<!-- 
<div class="row">
  <a href="/signup/link-existing" class="btn btn-outline-warning btn-xl"
    >Link to Existing Family</a
  >
</div> -->

<small>
  Link to an existing family? Use the link provided by your parent user.
</small>
