<h2>Everything is good.</h2>
<small>absolutely no errors here (maybe)</small>
<br />
<br />

<div><b>TYPE:</b> <%= result.type %></div>
<div><b>FLOCK SIZE:</b> <%= result.flock_size %></div>
<div><b>DATE:</b> <%= result.date %></div>
<small>has been submitted</small>
<br />

<a href="/">Click here to go back to the main page.</a>
