<div class="row">
  <% user.forEach(expense => { %>
  <div class="col-9">
    <h3><%= expense.name %></h3>
    <h5>Cost: $<%= expense.expense_amount %></h5>
    <h5>Date: <%= expense.spend_date %></h5>
    <br />
  </div>

  <% }) %>
</div>
