body {
  padding: 10px;
}

.expense-summary {
  color: #212529;
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 1em;
  margin: 1em;
  text-decoration: none;
}

.budget-summary {
  background-color: rgb(98, 192, 255);
  border-radius: 8px;
  padding: 1em;
  margin: 1em;
}
