<h2>Sign up (link to an existing family)</h2>
<form action="/signup/link-existing" method="POST">
  <label for="email" class="form-label">email address</label>
  <input type="text" name="email" />
  <br />

  <label for="username" class="form-label">username</label>
  <input type="text" name="username" />
  <br />

  <label for="password" class="form-label">password</label>
  <input type="text" name="password" />
  <br />

  <label for="main_user_email" class="form-label"
    >Enter your Family's main account email address:</label
  >
  <input type="text" name="main_user_email" />
  <br />

  <input type="submit" value="Submit" />
</form>
